<div style="color:green;">
	<b>O log foi importado com sucesso!</b><br>
	<%= @importacao.arquivos_importados.size %> novos arquivos importados em
	<%= @importacao.log.commits.size %> commits<br>
</div>
<br>