*{ margin: 0px; }

a:visited{
	color:blue;
}

html,body {
	margin: 0;
	padding: 0;
}

#pagina {
	overflow: auto;
}

#cabecalho {
   background: #91B9F2;
   height: 60px;
}

#corpo {
	padding: 20px 0px 20px 20px;
}

#pagina h1{
	text-align: center;
	height: 30px ;
}

#pagina a {
	vertical-align: top;
}

.explicacao {
	color: grey;
}